body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(99, 154, 202);
  color: whitesmoke;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

header {
  text-align: center;
font-size: 150%;
}

{
  
}

.hide-button {
  display:none; 
}

.hide-quiz{
  display: none;

}  

.questions-card{
  height: 75px;
}



#start-button{
  text-align: center;
  background-color: rgb(41, 50, 147);
  color: white;
  height: 30px;
  width: 75px;

}